html {
    text-align: center;
    font-family: 'Inter';
    background-color: blanchedalmond;
    color:  rgb(48,48,48);
    font-size: 1.25em;
}


h1 {
   font-size: 5em;
   text-decoration: underline;
}


.navigation li {
    margin: 50px;
    display: inline;
    border-style: double;
    border-color: rgb(48,48,48);
    padding: 10px;
    font-size: 1em;
    list-style: none;
}

li {
    margin: 1em;
}

.foodpreview {
    width: 500px;
    height: auto;
}

a {
    text-decoration: none;
    color: rgb(48,48,48);
}

p, li, h2, h3 {
    text-align: left;
}
h2,h3 {
    margin-top: 50px;
}

.homebutton {
    margin-top: 50px;
}

img {
    border-color:  rgb(48,48,48);
    border-radius: 5px;
    border-style: solid;
}

button {
    border: none;
    background-color:  rgb(48,48,48);
    color: blanchedalmond;
    font-size: 1.5rem;
    margin-top: 25px;
    padding: 10px;
    border-radius: 12px;
    transition-duration: 0.8s;
}

button:hover {
    background-color: rgb(93,94,94);
}


.container {
   padding-left: 10%;
   padding-right: 10%;
}